version: "3.8"

services:
  controller:
    image: bitnami/kafka:latest
    container_name: kafka-controller
    environment:
      - KAFKA_KRAFT_CLUSTER_ID=MY_CLUSTER_ID
      - KAFKA_CFG_NODE_ID=1
      - KAFKA_CFG_PROCESS_ROLES=controller
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=1@controller:9093,2@broker1:9093,3@broker2:9093
      - KAFKA_CFG_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_CFG_LISTENERS=CONTROLLER://:9093
    ports:
      - "9093:9093"
    volumes:
      - ./data/controller:/bitnami/kafka
    networks:
      - kafka-net

  broker1:
    image: bitnami/kafka:latest
    container_name: kafka-broker1
    environment:
      - KAFKA_KRAFT_CLUSTER_ID=MY_CLUSTER_ID
      - KAFKA_CFG_NODE_ID=2
      - KAFKA_CFG_PROCESS_ROLES=broker
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=1@controller:9093,2@broker1:9093,3@broker2:9093
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9092
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://broker1:9092
    depends_on:
      - controller
    ports:
      - "9092:9092"
    volumes:
      - ./data/broker1:/bitnami/kafka
    networks:
      - kafka-net

  broker2:
    image: bitnami/kafka:latest
    container_name: kafka-broker2
    environment:
      - KAFKA_KRAFT_CLUSTER_ID=MY_CLUSTER_ID
      - KAFKA_CFG_NODE_ID=3
      - KAFKA_CFG_PROCESS_ROLES=broker
      - KAFKA_CFG_CONTROLLER_QUORUM_VOTERS=1@controller:9093,2@broker1:9093,3@broker2:9093
      - KAFKA_CFG_LISTENERS=PLAINTEXT://:9094
      - KAFKA_CFG_ADVERTISED_LISTENERS=PLAINTEXT://broker2:9094
    depends_on:
      - controller
    ports:
      - "9094:9094"
    volumes:
      - ./data/broker2:/bitnami/kafka
    networks:
      - kafka-net

networks:
  kafka-net:
    driver: bridge

