services:
  kafka-controller:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka-controller
    hostname: kafka-controller
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: controller
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka-controller:19092"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT"
      KAFKA_LISTENERS: "CONTROLLER://:19092"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      KAFKA_METADATA_LOG_DIR: "/var/lib/kafka/data"
      CLUSTER_ID: "5L6g3nShT-eMCtK--X86sw"
    ports:
      - "19092:19092"
    volumes:
      - controller-data:/var/lib/kafka/data

  kafka-broker1:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka-broker1
    hostname: kafka-broker1
    environment:
      KAFKA_NODE_ID: 2
      KAFKA_PROCESS_ROLES: broker
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka-controller:19092"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT"
      KAFKA_LISTENERS: "PLAINTEXT://:29092"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://kafka-broker1:29092"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      CLUSTER_ID: "5L6g3nShT-eMCtK--X86sw"
      KAFKA_LOG_DIRS: "/var/lib/kafka/data"
    ports:
      - "29092:29092"
    volumes:
      - broker1-data:/var/lib/kafka/data

  kafka-broker2:
    image: confluentinc/cp-kafka:7.5.0
    container_name: kafka-broker2
    hostname: kafka-broker2
    environment:
      KAFKA_NODE_ID: 3
      KAFKA_PROCESS_ROLES: broker
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka-controller:19092"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT"
      KAFKA_LISTENERS: "PLAINTEXT://:39092"
      KAFKA_ADVERTISED_LISTENERS: "PLAINTEXT://kafka-broker2:39092"
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      CLUSTER_ID: "5L6g3nShT-eMCtK--X86sw"
      KAFKA_LOG_DIRS: "/var/lib/kafka/data"
    ports:
      - "39092:39092"
    volumes:
      - broker2-data:/var/lib/kafka/data

volumes:
  controller-data:
  broker1-data:
  broker2-data:

